.flex{
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    column-gap: 2rem;
}

.ClanName, .location{
    justify-content: center;
    align-items: center;
}

.transparent{
    background: transparent;
    margin: 0% 30% 0 30%;
}

.playerLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
}